
h1 {
  font-weight: bold;
  font-size: 1.5rem;
  color: rgb(210, 30, 168);
  height: auto;
  border-radius: 50%;
  border: 2px;
  border-style: double;
  width: 110px;
  margin: 5px;
  padding: 15px;

}
header{
  background-color: bisque;
  display: flex;
  justify-content: space-between;
}
.cardImg {
  height: 20px;
  width: 20px;
}
.mycardImg{
  height: 35px;
  width: 30px;
}
ul{
  display: flex;
  right: 10%;
  gap: 20px;
  padding: 10px;
  margin-right: auto;
  list-style: none;

}
nav{
  width: 60%;
  display:flex;
  justify-content: flex-end;

  
}
li{
  text-decoration: underline;
}
.herotext{
  
}