
h1 {
  font-weight: bold;
  font-size: 1.5rem;
  color: rgb(210, 30, 168);
  height: auto;
  border-radius: 50%;
  border: 2px;
  border-style: double;
  width: 110px;
  margin: 5px;
  padding: 15px;

}
header{
  background-color: bisque;
  display: flex;
  justify-content: space-between;
}
.cardImg {
  height: 20px;
  width: 20px;
}
.mycardImg{
  height: 100px;
  width: 100px;
  
}
.firstImg{
  width: 300px;
  height: 300px;
}
ul{
  display: flex;

  gap: 20px;
  padding: 10px;

  list-style: none;

}
.hero{
  
  display:flex;
  justify-content: center;

  
}
li{
  text-decoration: underline;
}
.herotext{
  width:50% ;
  font-size: medium;
  
}
.Arbeid{
  display: flex;
  gap: 10px;
  font-size: medium;
  text-align: center;
}
.ArbeidImg{
  width: 300px;
  height: 350px;
}
.menu{
  box-sizing: border-box;
  float: right;
  width: 20%;
  padding: 10px 15px;
  margin-top: 7px;
}
