
h1 {
  font-weight: bold;
  font-size: 1.5rem;
  color: rgb(210, 30, 168);
  height: auto;
  border-radius: 50%;
  border: 2px;
  border-style: double;
  width: 110px;
  margin: 5px;
  padding: 15px;

}
header{
  background-color: bisque;
  display: flex;
  justify-content: space-between;
}

  h2{
  color: blue;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  padding: 10px 15px;
  margin: 7px;
  
  }

.mycardImg{
  height: 100px;
  width: 100px;
  padding: 10px 15px;
  margin: 7px;

  
}
.firstImg{
  width: 300px;
  height: 300px;
}
ul{
  display: flex;

  gap: 20px;
  padding: 10px;

  list-style: none;

}
.hero{
  display:flex;
  justify-content: center;
  gap: 90px;
  
}
li{
  text-decoration: underline;
}
.herotext{
  width:50% ;
  font-size: medium;
  box-sizing: border-box;
  float: right;
  background-color: rgb(200, 241, 241);
  padding: 10px 15px;
  margin: 7px;
  
}
.Arbeid{
  display: flex;
  gap: 10px;
  font-size: medium;
  text-align: center;
}
.ArbeidImg{
  width: 300px;
  height: 350px;
}
.menu{
  box-sizing: border-box;
  float: left;
  width: 20%;
  padding: 10px 15px;
  margin-top: 7px;
}
.menuitem{
  padding: 8px;
  margin-top: 7px;
  border-bottom: 1px solid lightblue;
}
.cardImg {
  height: 20px;
  width: 20px;
}
.socmedia {
  height: 20px;
  width: 20px;
}
footer{
  display: flex;
  justify-content: center;
  gap: 90px;
  padding-top: 60px;
}
main{
 

}
.Arbeid{
  padding: 60px 15px;
  height: 80%;
}